#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.english {
  color: #363636;
  margin-bottom: 300px;
}

.portuguese {
  color: #363636;
  margin-top: 300px;
}
